body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main {
   width: 800px; 
   margin: 2rem;
   background-color: #003d5b;
   border-radius: 5px;


   @media screen and (max-width: 900px) {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 98%;
      height: 90vh;
   }

   @media screen and (max-width: 359px) {
      width: 300px;
      padding: 20px 0;
   }
}
.header {
   display: flex;
   align-items: center;
   margin: 2rem;
   font-size: xx-small;
   gap: 15px;


   @media screen and (max-width: 359px) {
      margin: 0 10px;
      font-size: 0.5rem;
   }  
}

.drum {
   display: flex;
   margin: 2rem;
   gap: 50px;


   @media screen and (max-width: 699px) {
      flex-direction: column;
      margin: 0 10px;
   }
}



.buttons-container {
   display: grid;
   grid-template-columns: repeat(4, 100px);
   gap: 20px;

   @media screen and (max-width: 699px) {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
   }
}

.buttons-container button {
   color: #fff;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: none;
   box-shadow: 2px 2px 10px 2px #0000004f;

   @media screen and (max-width: 359px) {
      width: 80px;
      height: 80px;
   }
}
[data-sound="kick"] {
   background-color: #8ECAE6;
}
[data-sound="snare"] {
   background-color: #D1495B;
}
[data-sound="snare-drum"] {
   background-color: #72DDF7;
}
[data-sound="bass-hit"] {
   background-color: #FB8500;
}
[data-sound="conga"] {
   background-color: #F7AEF8;
}
[data-sound="pop"] {
   background-color: #00798C;
}
[data-sound="mixkit"] {
   background-color: #FDC5F5;
}

button:active {
   background-color: transparent;
}

