body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: #023047; */
}

main {
   width: 800px; 
   height: 700px;
   margin: 2rem;
   background-color: #003d5b;
}
.header {
   display: flex;
   align-items: center;
   font-size: xx-small;
   gap: 15px;
}

.drum {
   display: flex;
   gap: 50px;
}

.buttons-container {
   display: grid;
   grid-template-columns: repeat(4, 100px);
   gap: 20px;
}
.buttons-container:nth-child(3) {
   background-color: #003d5b;
   background-color: #ff0000;
}
.buttons-container button {
   color: #fff;
   width: 100px;
   height: 100px;
   background-color: #EDAE49;
   border-radius: 50%;
   border: none;
   outline: 2px solid #8ECAE6;
   box-shadow: 2px 2px 10px 2px #0000004f;
}
button:active {
   background-color: #edae4963;
}

